.title {
    text-align: center;
    
    color: #000000;
    font-weight: bold;
    justify-content: left;
    margin: 0;
    font-size: 20px;
}

.subtitle {
    text-align: left;
    
    margin-bottom: 10px;
    border: solid 1px #00000062;
   

}