.logo {
    text-align: center;
    margin-top: 3%;
    
}

.box {
    background-color: #ffffffea;
    padding: 0.5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.formControl{
    background-color: rgba(255, 255, 255, 0.9176470588);
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    height: 3.2rem;
}